services:
  reservation-service:
    build: ../services/reservation
    container_name: reservation-service
    ports:
      - "4002:4002"
    environment:
      - PORT=4002
      - NODE_ENV=development
      - DATABASE_URL=postgresql://user:password@reservation-db:5432/reservation?schema=public
      - DATABASE_HOST=reservation-db
      - DATABASE_USER=user
      - INVENTORY_SERVICE_URL=http://inventory-service:4001
      - STORE_SERVICE_URL=http://store-service:4005
      - SHIPPING_SERVICE_URL=http://shipping-service:4003
    depends_on:
      - reservation-db

  reservation-db:
    image: postgres:14
    container_name: reservation-db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: reservation
    ports:
      - "5434:5432"
    volumes:
      - pgdata_reservation:/var/lib/postgresql/data

  inventory-service:
    build: ../services/inventory
    container_name: inventory-service
    ports:
      - "4001:4001"
    environment:
      - PORT=4001
      - DATABASE_URL=postgresql://user:password@inventory-db:5432/inventory
      - DATABASE_HOST=inventory-db
      - DATABASE_USER=user
    depends_on:
      - inventory-db

  inventory-db:
    image: postgres:14
    container_name: inventory-db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: inventory
    ports:
      - "5433:5432"
    volumes:
      - pgdata_inventory:/var/lib/postgresql/data

  shipping-service:
    build: ../services/shipping
    container_name: shipping-service
    ports:
      - "4003:4003"
    environment:
      - PORT=4003
      - NODE_ENV=development
      - DATABASE_URL=postgresql://user:password@shipping-db:5432/shipping?schema=public
      - DATABASE_HOST=shipping-db
      - DATABASE_USER=user
    depends_on:
      - shipping-db

  shipping-db:
    image: postgres:14
    container_name: shipping-db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: shipping
    ports:
      - "5435:5432"
    volumes:
      - pgdata_shipping:/var/lib/postgresql/data

  # warehouse-service:
  #   build: ../services/warehouse
  #   container_name: warehouse-service
  #   ports:
  #     - "4004:4004"
  #   environment:
  #     - PORT=4004
  #     - NODE_ENV=development
  #     - DATABASE_URL=postgresql://user:password@warehouse-db:5432/warehouse?schema=public
  #     - DATABASE_HOST=warehouse-db
  #     - DATABASE_USER=user
  #   depends_on:
  #     - warehouse-db

  # warehouse-db:
  #   image: postgres:14
  #   container_name: warehouse-db
  #   restart: always
  #   environment:
  #     POSTGRES_USER: user
  #     POSTGRES_PASSWORD: password
  #     POSTGRES_DB: warehouse
  #   ports:
  #     - "5436:5432"
  #   volumes:
  #     - pgdata_warehouse:/var/lib/postgresql/data

  store-service:
    build: ../services/store
    container_name: store-service
    ports:
      - "4005:4005"
    environment:
      - PORT=4005
      - NODE_ENV=development
      - DATABASE_URL=postgresql://user:password@store-db:5432/store?schema=public
      - DATABASE_HOST=store-db
      - DATABASE_USER=user
    depends_on:
      - store-db

  store-db:
    image: postgres:14
    container_name: store-db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: store
    ports:
      - "5437:5432"
    volumes:
      - pgdata_store:/var/lib/postgresql/data

volumes:
  pgdata_reservation:
  pgdata_inventory:
  pgdata_shipping:
  # pgdata_warehouse:
  pgdata_store:
